.md-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ececec;
    margin-top: 30px;
}

.md-footer__inner {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.md-footer__inner:after, .md-footer__inner:before {
    content: " ";
    display: table;
}
.md-footer__inner:after {
    clear: both;
}
.md-footer .footer-wrapper {
    padding-bottom: 18px;
    padding: 24px 100px 18px;
}
.md-footer .footer-wrapper:after, .md-footer .footer-wrapper:before {
    content: " ";
    display: table;
}
.md-footer .footer-wrapper:after {
    clear: both;
}
.md-footer .md-footer-meta-wrapper {
    width: 650px;
    float: left;
}
.md-footer--meta {
    padding: 0;
    margin-bottom: 0;
}
.md-footer--meta li {
    display: inline-block;
    margin: 18px 0 24px;
}
.md-footer--meta li a {
    padding: 0 14px;
    color: #333;
    font-size: 14px;
}
.md-footer--meta li+li:before {
    content: "|";
    color: #ddd;
    font-size: 12px;
}
.md-footer .md-footer-meta-wrapper p {
    text-align: center;
    color: #999;
    font-size: 14px;
}

.md-footer .footer-link-wrapper {
    width: 1100px;
    margin-bottom: 16px;
    background-color: #fff;
    border: 1px solid #eee;
    line-height: 20px;
    padding: 0 8px;
}


.md-footer .footer-link {
    border-bottom: 1px dashed #e5e5e5;
    font-size: 13px;
    color: #999;
}
.md-footer .footer-link:after, .md-footer .footer-link:before {
    content: " ";
    display: table;
}
.md-footer .footer-link:after {
    clear: both;
}
.md-footer .footer-link .desc a {
    color: #000;
}
.md-footer .footer-link:last-of-type {
    border-bottom: 0;
}

.md-footer .footer-link .desc {
    text-indent: 17px;
    margin-top: 11px;
    color: #000;
    float: left;
    width: 85px;
    padding-top: 2px;
}
.md-footer .footer-link .links {
    float: left;
    width: 965px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.md-footer .footer-badge {
    text-align: center;
}

.md-footer .footer-link .links li {
    display: inline-block;
}
.md-footer .footer-link .links li a {
    margin-left: 40px;
    text-align: center;
    display: inline-block;
    padding: 2px 0;
    color: #999;
}
.md-footer .md-footer-qr-code-wrapper {
    float: right;
}
.md-footer .md-footer-qr-code-wrapper .md-footer-qr-code {
    float: left;
    margin: 0 15px;
}
.md-footer .md-footer-qr-code-wrapper .md-footer-qr-code img {
    width: 85px;
    height: 85px;
}
.md-footer .md-footer-qr-code-wrapper:after, .md-footer .md-footer-qr-code-wrapper:before {
    content: " ";
    display: table;
}
.md-footer .md-footer-qr-code-wrapper:after{
    clear: both;
}
.md-footer .md-footer-qr-code-wrapper .md-footer-qr-code .qr-code-desc {
    text-align: center;
    font-size: 14px;
    color: #999;
    margin: 10px 0 0;
}