.city-content {
    padding: 30px 0 10px;
    background-color: #fff;
}
.city-content .city-title {
    position: relative;
    margin: 0 auto 20px;
    width: 1100px;
    height: 35px;
    text-align: center;
    font-size: 24px;
}
.city-content .city-link {
    width: 1100px;
    margin: 0 auto;
}
.city-content .city-link a {
    position: relative;
    display: inline-block;
    width: 335px;
    height: 260px;
    margin: 0 12px 20px;
}
.city-content .city-link a .shadow-model, 
.city-content .city-link a img {
	position: absolute;
    border-radius: 10px;
    width: 335px;
    height: 260px;
}
.city-content .city-link a .desc {
    position: absolute;
    top: 90px;
    width: 335px;
    text-align: center;
    color: #fff;
    z-index: 2;
    text-shadow: 0 1px 3px rgba(0,0,0,.9);
}
.city-content .city-link a .desc .title {
    font-size: 28px;
    font-weight: 700;
}
.city-content .city-link a .desc .subword {
    font-size: 14px;
}