.project{
	max-width: 1100px;
    margin: 0 auto;
}
.project:before, .project:after{
    content: " ";
    display: table;
}
.project:after{
    clear: both;
}
.project-list{
	width: 900px;
    padding-right: 27px;
    float: left;
    margin-top: 36px;
}
.project-item{
    color: #999;
    background-color: #fff;
    border: 1px solid #ececec;
    margin-bottom: 16px;
}
.project-item:before{
    content: " ";
    display: table;
}
.project-item:after {
	content: " ";
    display: table;
    clear: both;
}
.project-item .project-banner{
    width: 300px;
    height: 154px;
    float: left;
    margin-right: 26px;
}
.project-item-meta{
	float: left;
}
.project-title {
    display: block;
    font-size: 18px;
    color: #000;
    margin: 40px 0;
    overflow:hidden;
}
.fix-1{
    position:fixed;
    left:1050px;
    top:200px;
}
.fix-2{
    position:fixed;
    left:1050px;
    top:350px;
}
.project-news-list {
	background-color: #fff;
	width: 900px;
    padding: 0 60px;
    float: left;
    margin-top: 36px;
}
.project-news-list:before {
    display: table;
    content: ' ';
}
.project-news-list:after {
    display: table;
    content: ' ';
    clear: both;
}
.project-news-title{
	font-size: 30px;
	margin: 20px 0;
	color: rgb(48, 132, 229);
}
.project-news{
	font-size: 20px;
    padding-bottom: 20px;
}
.project-comment-wrapper {
    background-color: #fff;
    width: 900px;
    padding: 20px 60px;
    float: left;
    margin-top: 36px;
}

.project-comment:before ,.project-comment-list:before{
    display: table;
    content: ' ';
}
.project-comment:after ,.project-comment-list:after{
    display: table;
    content: ' ';
    clear: both;
}
.project-comment button{
    float: right;
    margin-top: 10px;
}
.project-comment-list{
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.member-img{
    float: left;
}
.member-img img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.project-comment-right{
    padding-left: 47px;
    float: left;
}
.project-comment-member{
    color: #999;
    font-size: 13px;
    margin-bottom: 10px;
}
.project-comment-member strong{
    color:rgb(48, 132, 229);
    margin-right: 20px;
}